.tenantName {
  border-top: 1px solid white;
  height: 70px;
}
a:link,
a:visited {
  color: white !important;
  text-decoration: none;
}
.cardImgSpace {
  height: 130px;
}
.cardImg {
  margin-top: 20px;
  max-width: 270px;
}
.tenantCard {
  margin: 0 auto;
  width: 300px;
  height: 201px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.tenantCard:hover{
  opacity: 40%;
}
.tenantContainer {
  width: 950px;
  margin: 0 auto;
}
.obscuredTenant{
  opacity: 30%;
}

