<div class="row footer" id="footer">
  <div class="col-sm-9 col-md-9 col-lg-9">
    <img class="footerImg" [src]="footerImg" alt="logo" *ngIf="this.currentTenant.name!=''" />
    <span class="footerLabel">{{currentTenant.footerText}}</span>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
    <div class="footerHud">
      <span *ngIf="!currentUser" class="footerLabel version">{{currentVersion}}</span>
      <span *ngIf="currentUser" class="footerLabel">
        {{currentUser}}
        <a (click)="openSettings()">
          <img class="settingsIcon" src="./assets/img/WhiteGear.png" alt="settings" />
        </a>
        <img class="connectionStatusImg" src="./assets/img/RedCircle.png" alt="connectionStatus" *ngIf="!connected" />
        <img class="connectionStatusImg" src="./assets/img/GreenCircle.png" alt="connectionStatus" *ngIf="connected" />
      </span>
    </div>
  </div>
</div>
