<div class="settings">
  <div class="modal-header darkBackground">
    <h4 class="headerLabel">Impostazioni</h4>
    <button type="darkButton" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #authForm="ngForm" (ngSubmit)="onSubmit()">
      <label class="labelSettings" for="broker">Seleziona un broker (attuale:
        <strong>{{previousBroker.name}}</strong>)</label>
      <br />
      <select class="form-control" id="broker" name="broker" [(ngModel)]="currentlySelectedBroker">
        <option *ngFor="let option of brokers" [ngValue]="option">{{option.name}}</option>
      </select>
      <br />
      <label class="labelSettings" for="autoFocus">Segui il veicolo selezionato automaticamente</label>
      <br />
      <select class="form-control" id="autoFocus" name="autoFocus" [(ngModel)]="autoFocus">
        <option value=true>ON</option>
        <option value=false>OFF</option>
      </select>
      <hr />
      <div style="text-align: center">
        <button type="submit" class="darkButton">SALVA</button>
      </div>
    </form>
  </div>
</div>
