<div class="row">
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 tableBackground">
    <div class="buttonsControl">
      <button class="darkButton filterButton" (click)="onFilter('itsEvents')" [disabled]="categories[0].active"
        [ngClass]="{'filteredOut': !categories[0].active}">EVENTI ITS</button>
      <button class="darkButton filterButton" (click)="onFilter('vehicles')" [disabled]="categories[1].active"
        [disabled]="categories[1].active" [ngClass]="{'filteredOut': !categories[1].active}">VEICOLI</button>
    </div>
    <div class="subButtonsControl" *ngIf="categories[0].active">
      <button *ngFor="let sub of subCategoriesItsEvents" class="filterButton" (click)="onSubFilterIts(sub.name)"
        [ngClass]="{'filteredOut': !sub.active}" placement="top" [ngbTooltip]="sub.label"><img class="subFilterImg"
          [src]="sub.url" [alt]="sub.name" /></button>
    </div>
    <div class="subButtonsControl" *ngIf="categories[1].active">
      <button *ngFor="let sub of subCategoriesVehicles" class="filterButton" (click)="onSubFilterVehicles(sub.name)"
        [ngClass]="{'filteredOut': !sub.active}" placement="top" [ngbTooltip]="sub.label"><img class="subFilterImg"
          [src]="sub.url" [alt]="sub.name" /></button>
    </div>
    <div *ngIf="events.length == 0" class="loadingDiv">
      <app-loading-spinner></app-loading-spinner>
      <br />
      <span class="loadingTip">Connessione con il broker in corso...</span>
    </div>
    <div class="eventsTable">
      <table class="table">
        <tbody>
          <div *ngFor="let event of events | filterTable: [searchKey]">
            <tr class="tableLine" [id]="event.id"
              [ngClass]="{'selected': event.id==lastSelectedEvent, 'hidden': event.hide}" (click)="onFocus(event.id)">
              <td nowrap style="text-align:center">
                <app-event-icon [event]="event"></app-event-icon>
              </td>
              <td class="infoCell">
                <span class="eventLabel">
                  {{event.info}}
                </span>
              </td>
              <td nowrap>
                <span class="eventLabel">
                  {{event.timestamp | date:'mediumTime'}}
                </span>
              </td>
            </tr>
            <tr class="tableLineExtra" *ngIf="event.id==lastSelectedEvent">
              <td>
                <span class="eventLabel">
                  [{{event.type.toUpperCase()}}]
                </span>
              </td>
              <td class="infoCell">
                <span class="eventLabel" *ngIf="event.type=='cam'">
                  Cooperative Awareness Message
                </span>
                <span class="eventLabel" *ngIf="event.type!='cam'">
                  {{event.topic}}
                </span>
              </td>
              <td nowrap>
                <span class="eventLabel" *ngIf="event.type == 'ivim'">
                  [ID: {{event.id}}]
                </span>
                <span class="eventLabel" *ngIf="event.type != 'ivim'">
                  [{{event.category}}]
                </span>
              </td>
            </tr>
            <div class="tableLineExtra" *ngIf="event.id==lastSelectedEvent && event.denms.length>0">
              <table class="table">
                <tr *ngFor="let denm of event.denms">
                  <td nowrap>
                    <span class="eventLabel">
                      [DENM]
                    </span>
                  </td>
                  <td>
                    <span class="eventLabel">
                      {{denm.description}}
                    </span>
                  </td>
                  <td nowrap style="text-align:right;">
                    <span class="eventLabel">
                      {{denm.timestamp | date: "mediumTime"}}
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </tbody>
      </table>
    </div>
    <div class="searchBox" *ngIf="events.length > 0">
      <img src="./assets/img/src/View.png" alt="search" class="searchLens" />
      <input id="search" class="searchInput inputField" type="text" [(ngModel)]="searchKey"
        placeholder="Cerca nella descrizione dell'evento" />
    </div>
  </div>
</div>
