button {
  border: 0px;
}
.map-container {
  margin: 10px 0px 0px 10px;
  width: 100%;
  height: calc(100vh - 155px);
}
.map-frame {
  border: 0px solid black;
  height: 100%;
}
#map {
  height: 100%;
}
.tableBackground {
  background-color: rgb(235, 235, 235);
  height: calc(100vh - 120px);
  padding: 0px;
  overflow-y: scroll;
}
.filterButton {
  margin-right: 5px;
}
.subFilterImg {
  max-width: 40px;
}
.buttonsControl {
  text-align: center;
  margin: 10px 0px 0px 10px;
}
.filteredOut {
  opacity: 40%;
}
.eventsTable {
  margin-top: 5px;
  width: 100%;
}
.tableLine {
  width: 100%;
}
.tableLine:hover {
  background-color: white;
}
.selected {
  background-color: white;
}
.hidden {
  display: none;
}
.loadingDiv {
  margin-top: 10px;
  text-align: center;
}
