<div class="modal-body">
  <img src="./assets/img/src/View.png" class="gearIcon" />
  <br />
  <label class="labelSettings" for="eventTopic"><strong>Topics</strong></label>
  <ol style="max-height: 200px; overflow-y: scroll">
    <li *ngFor="let topic of event.topics" name="eventTopic">
      {{topic}}
    </li>
  </ol>
  <!--
    <div *ngIf="event.quadkeys.length>0">
    <label class="labelSettings" for="eventQuadtree"><strong>Quadkeys</strong></label>
    <ol style="max-height: 100px; overflow-y: scroll">
      <li *ngFor="let key of event.quadkeys" name="eventTopic">
        {{key}}
      </li>
    </ol>
  </div>
  -->
  <label class="labelSettings"><strong>Latest Payload</strong></label>
  <ngx-json-viewer [json]="payloadJSON" [expanded]="false" style="margin: 0px; padding: 0px;"></ngx-json-viewer>
</div>
<div class="modal-footer">
  <button type="button" class="darkButton" (click)="activeModal.close('Close click')">CHIUDI</button>
</div>
