<div class="modal-body">
  <img src="./assets/img/src/View.png" class="gearIcon" />
  <br/>
  <label class="labelSettings" for="eventTopic"><strong>Topic:</strong></label>
  <p name="eventTopic">{{event.topic}}</p>
  <label class="labelSettings"><strong>Contenuto messaggio:</strong></label>
  <ngx-json-viewer [json]="payloadJSON" [expanded]="false"></ngx-json-viewer>
</div>
<div class="modal-footer">
  <button type="button" class="darkButton" (click)="activeModal.close('Close click')">CHIUDI</button>
</div>
