@import "~@fontsource/oswald/index.css";
@import '~leaflet/dist/leaflet.css';

.darkButton {
  margin-top: 10px;
  margin-right: 5px;
  height: 40px;
  width: 128px;
  font-size: 0.9em;
  font-weight: bold;
  border-width: 0px;
  padding: 0px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
}
.darkButton:hover:enabled {
  opacity: 40%;
}

body, html{
  overflow-x: hidden;
}

@font-face {
  font-family: "TIMSansWeb-Regular";
  src: url("src\assets\font\TIMSansWeb-Regular.woff") format("woff2"),
    url("src\assets\font\TIMSansWeb-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
.popup{
  font-weight: bold;
  font-family: "TIMSansWeb-Regular";
  color: blue;
}
