@import "~@fontsource/oswald/index.css";
@import '~leaflet/dist/leaflet.css';

.darkButton {
  margin-top: 10px;
  margin-right: 5px;
  height: 40px;
  width: 128px;
  font-size: 0.9em;
  font-weight: bold;
  border-width: 0px;
  padding: 0px;
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
}
.darkButton:hover:enabled {
  opacity: 40%;
}

body, html{
  overflow-x: hidden;
}

@font-face {
  font-family: "TIMSansWeb-Regular";
  src: url("src\assets\font\TIMSansWeb-Regular.woff") format("woff2"),
    url("src\assets\font\TIMSansWeb-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
.popupImg{
  width: 30px;
}
.popupLabel {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "TIMSansWeb-Regular";
  line-height: 140%;
  padding: 5px;
  color: black;
  letter-spacing: 0px;
}
.popupBackground{
  background-color: transparent !important;
}
.alertImg  {
	height:60px;
}
.alertLabel {
	font-size:1.1em;
	font-weight:bold;
	line-height:140%;
	padding:5px;
	color:#000000;
	letter-spacing:0px;
}
